@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;500&family=Open+Sans:ital,wght@0,600;0,700;1,600&family=Poppins:ital,wght@0,400;1,300;1,400&family=Roboto&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
    display: none;
    // background: theme("colors.darkPrimary")
}